/* global css */
* {
    font-family:"Roboto","Arial","sans-serif";
    margin: 0;
    padding: 0px;
  }
  body {
    width: 100%;
  }
  section {
    position: fixed;
    vertical-align: top;
    height:100vh;
  }
  h1 {
    font-size: 18px;
    color:#00838f;
  }
  h2 {
    color:#00838f;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 22px 22px 11px 11px;   
  }
/* App bar css */
#ChanArea {
  width:399px;
  height:100vh;
  border-right: 1px solid rgb(199, 199, 199);
}
#chatArea {
  left: 400px;
  width: calc(100% - 400px);
  /* width: max-content; */
}
  .headbar {
    background-color: #eeeeee;
    color: #00838f;
    height: 66px;;
    font-size: larger;
    line-height: 66px;
    padding: 0px 22px 0px 22px;

  }
  .inline {
    display: inline;
  }

/* Channels list css */
.channel-list{
  background-color:white;
  list-style-type:none;
}
.channel-list li {
  box-sizing: border-box;
  padding: 22px;
  height: 66px;
}
.channel-list li.selected {
  border-right: 3px solid #00838f;
  background-color:#eeeeee;
}

/* Messages css */
  button {
    background-color: #00838f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: larger;
}
  
  .selected {
    border:green;
    background-color: lightgray;
  }
  .chanName {
    font-size: larger;

}
  .time {
    font-size: smaller;
}
 .messagecont {
  padding: 11px;
  margin: 10px 11px;
 }
 .messagecont h3 {
  font-size: 14px;
    color: #00838f;
    margin-bottom: 11px;
 }
 .messagecont p {
  font-size: 14px;
 }
 .messageOut div {
  background-color: #00838f;
  color: white;
}
 .messageIn div {
  background-color: #eeeeee;
}
 .messageInput {
  border: 1px solid lightgray;

 }
 /* .vl {
  left: 399px;
  position: fixed;
  vertical-align: top;
  border: 1px solid black;
  height:100vh;
} */