/* global css */
* {
    font-family:"Roboto","Arial","sans-serif";
    margin: 0;
    padding: 0px;
  }
  body {
    width: 100%;
  }
  section {
    position: fixed;
    vertical-align: top;
    height:100vh;
  }
  h1 {
    font-size: 18px;
    color:#00838f;
  }
  h2 {
    color:#00838f;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 22px 22px 11px 11px;   
  }
  #logo{
    position: absolute;
    top: 5px;
    left: 15px;
    height:44px; vertical-align:top;  
    background-color: #00838f;
    border-radius: 8px;
    border: none;
  }
/* App bar css */
#channel-area {
  width:399px;
  height:100vh;
  border-right: 1px solid rgb(199, 199, 199);
} 

#title-can{
  margin: 5px 5px 5px 60px;
}
  .headbar {
    background-color: #eeeeee;
    color: #00838f;
    height: 66px;
    /* font-size: larger; */
    line-height: 66px;
    padding: 0px 22px 0px 22px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  /* .headbar.#favorite-button {
    a ??????

  } */
  
  .titel {
    display: inline;

  }
  .fab{
    width: 44px;
    height: 44px;
    background-color: #00838f;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 #aaaaaa;

    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 44px;

    position: absolute;
    top: 44px;
    right: 22px;
    cursor: pointer;
  }

/* Channels list css */
.channel-list{
  background-color:white;
  list-style-type:none;
}
.channel-list li {
  box-sizing: border-box;
  padding: 22px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.channel-list li.selected {
  border-right: 3px solid #00838f;
  background-color:#eeeeee;
}

/* Messages css */
  button {
    background-color: #00838f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: larger;
}
#chat-area {
  left: 400px;
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  box-sizing:border-box;
  padding: 0px;
  
  /* width: max-content; */
}
  
  .selected {
    border:green;
    background-color: lightgray;
  }
  .chanName {
    font-size: 16px;
    margin: 0px 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 1 auto;

}
  .timestamp {
    font-size: 12px;
    color: #666666;
}
.message {
  width: 75%;
}
.message-wrapper{
  display: flex;
  align-items: flex-end;
 }
 i{
  align-self: center;
  padding: 0px 10px;
 } 
 .message-content {
  text-align: left;
  border-radius: 15px;
  padding: 10px;
 }
 
 .message-content h3 {
  font-size: 14px;
    color: #00838f;
    margin-bottom: 11px;
 }
 .message-content p {
  font-size: 14px;
 }
 .incoming-message {
  align-self:flex-start;
  
 }
 .incoming-message .message-content {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
 }

.outgoing-message {
  align-self:flex-end;
}
.outgoing-message .message-content {
  background-color: #00838f;
  color: white;
  border: 1px solid #eeeeee;
  
 }

 .outgoing-message .message-wrapper{
  flex-direction: row-reverse;
 }
 .outgoing-message i{
  align-self: center;
  padding: 0px 10px;
 } 
 .outgoing-message span{
  text-align:right
 } 
 #input-area {
  align-self:flex-end;
  width: 100%;
  height:66px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
 }
 #emoticon-button{
  background-color: #00838f;
  border-radius: 50%;
  margin: 10px;
  align-self: center;
 }
 #message-input {
  font-size: 10px;
  margin:10px 5px;
  width: 85%;
 }
 #send-button{
  margin: 10px;
  color: #00838f;
  align-self: center;
 }
 /*
 .outgoing-messag .message-content{
  background-color: #00838f;
  color: white;
  border: 1px solid #00838f;
}
 
.vl {
  left: 399px;
  position: fixed;
  vertical-align: top;
  border: 1px solid black;
  height:100vh;
} */